:root {
    --button-control-position: 5%;
}

.images-viewer {
    display: flex;
    align-self: stretch;
    gap: 1.25rem;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.images-viewer__list {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
        0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.images-viewer__list__statistic{
    display: flex;
    align-self: stretch;
    flex-direction: column;
    padding: 6px;
    margin: 16px 0;
    gap: .375rem;
}
.images-viewer__list__statistic span{
    font-size: 16px;
}
.images-viewer__list__container {
    display: fixed;
    top: 0;
    bottom: 0;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
    margin: 5px;
    width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    overflow-y: auto;
}

.images-viewer__list__container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.images-viewer__list__container ul>li {
    height: 44px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-items: flex-end;
}

li svg{
    display: flex;
    align-self: flex-end;
    margin-left: auto;
}

.images-viewer__list__container ul>li:hover {
    background-color: var(--second-color);
    color: var(--fourth-color);
}

.selected {
    background-color: var(--first-color);
    color: var(--fourth-color);
}

.images-viewer__container {
    margin-left: 330px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.images-viewer__container__viewer {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    overflow: hidden;
}

.images-viewer__container__viewer__img-container {
    position: relative;
    max-height: 85%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-color: var(--first-color);
    overflow: hidden;
    padding: 0 16px;
    border-radius: 6px;
}

.images-viewer__container__viewer__img-container img {
    position: absolute;
    top: 0;
    /* Position the image absolutely within its container */
    width: auto;
    /* Allow the image to adjust its width while maintaining aspect ratio */
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.images-viewer__container__viewer__controls {
    position: absolute;
    bottom: var(--button-control-position);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    gap: 10px;
}

.images-viewer__container__viewer__verify {
    position: absolute;
    bottom: var(--button-control-position);
    display: flex;
    flex-direction: row;
    gap: 10px;
}