:root {
    --button-control-position: 5%;
}

.images-viewer {
    display: flex;
    align-self: stretch;
    gap: 1.25rem;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.images-viewer__list {
    position: absolute;
    bottom: 5%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03),
        0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    border: 1px solid var(--second-color);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 6px 12px;
}

.images-viewer__list__statistic {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    padding: 6px;
    margin: 16px 0;
    gap: .375rem;
}

.images-viewer__list__statistic span {
    font-size: 16px;
}

.images-viewer__list__container {
    display: fixed;
    top: 0;
    bottom: 0;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
    margin: 5px;
    width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    overflow-y: auto;
}

.images-viewer__list__container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.images-viewer__list__container ul>li {
    height: 44px;
    padding: 10px 15px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-items: flex-end;
}

li svg {
    display: flex;
    align-self: flex-end;
    margin-left: auto;
}

.images-viewer__list__container ul>li:hover {
    background-color: var(--second-color);
    color: var(--fourth-color);
}

.selected {
    background-color: var(--first-color);
    color: var(--fourth-color);
}

.images-viewer__container {
    margin-left: 350px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.images-viewer__container__viewer {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    overflow: hidden;
}

.images-viewer__container__viewer__img-container {
    position: relative;
    max-height: 85%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-color: var(--first-color);
    overflow: hidden;
    padding: 0 16px;
    border-radius: 6px;
    overflow: hidden;
    cursor: grab;
}

.img-zoom-lens {
    position: absolute;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
    z-index: 10;

}

.img-zoom-result {
    position: fixed;
    top: 0;
    left: 0;
    width: 340px;
    height: 340px;
    border-bottom-right-radius: 6px;
    z-index: 1000;
    display: none;
    object-fit: contain;
    object-position: center;
}

#imageDisplay {
    display: block;
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-width: none;
    transition: transform 0.3s ease;
    user-select: none;
    cursor: zoom-in;
}

.images-viewer__container__viewer__img-container img:active {
    cursor: grabbing;
    /* Change cursor when dragging */
}

.images-viewer__container__viewer__img-container__controller {
    display: flex;
    gap: 16px;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    background: var(--second-color);
    border-bottom-left-radius: 6px;
    opacity: 0.75;
    transition: all 0.2s ease-in-out;
}

.images-viewer__container__viewer__img-container__controller:hover {
    opacity: 1;
}

.images-viewer__container__viewer__img-container__controller svg {
    cursor: pointer;
}

.images-viewer__container__viewer__controls {
    position: absolute;
    bottom: var(--button-control-position);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    gap: 10px;
}

.images-viewer__container__viewer__verify {
    position: absolute;
    bottom: var(--button-control-position);
    display: flex;
    flex-direction: row;
    gap: 10px;
}